.homeContainer {
  width: 100vw;
  height: 320vh;
  overflow: hidden;
}

.homeUpWrapper {
  display: flex;
  flex-direction: row;
}

.leftHomeSide {
  width: 30%;
  margin-top: 100px;
  margin-left: 100px;
  font-size: 20px;
  display: flex;
  flex-direction: column;
}

.leftHeader {
  letter-spacing: 10px;
  line-height: 50px;
}

.leftSubHeader {
  font-weight: 200;
  margin-top: -10px;
  line-height: 30px;
}

.rightHomeSide {
  width: 70%;
}

.rightHomeImg {
  width: 65%;
  margin-top: 50px;
  margin-left: 20%;
}

.latestBlogWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
}

.latestBlogs {
  letter-spacing: 4px;
}

.blogCardsFlex {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100vw;
  margin-top: 30px;
}

.hrBar {
  margin-top: 100px;
  margin-left: 70px;
  margin-right: 70px;
}

@media screen and (max-width: 1200px) {
  .leftHomeSide {
    font-size: 8px;
  }
  .leftHeader {
    letter-spacing: 5px;
    line-height: 30px;
  }
  .leftSubHeader {
    line-height: 20px;
    font-size: 12px;
  }
  .rightHomeImg {
    width: 50%;
    margin-top: 80px;
    margin-left: 25%;
  }
  .homeContainer {
    height: 250vh;
  }
}
