.navUpper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logoImg {
  height: 30vh;
  margin-left: 120px;
  cursor: pointer;
}

.searchFlex {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: -50px;
  margin-right: 50px;
}

.iconFlex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -50px;
  margin-left: 50px;
}

.socialIcons {
  width: 50px;
  height: 30px;
  cursor: pointer;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  margin-top: -25px;
  margin-bottom: 30px;
}

@media screen and (max-width: 1280px) {
  .logoImg {
    height: 20vh;
    margin-left: 0px;
  }
  .socialIcons {
    width: 25px;
    height: 25px;
    margin-right: 20px;
  }
  .searchFlex {
    margin-right: 0px;
  }
  .iconFlex {
    margin-left: 0px;
  }
  .navUpper {
    justify-content: space-around;
  }
}
