@import url('https://fonts.googleapis.com/css2?family=Amatic+SC&family=Courgette&family=Edu+TAS+Beginner:wght@600&family=Edu+VIC+WA+NT+Beginner:wght@500;700&family=Gloria+Hallelujah&display=swap');

.NavBarContainer {
  width: 100vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.organicBomb {
  font-family: 'Amatic SC', cursive;
  font-family: 'Courgette', cursive;
  font-family: 'Edu TAS Beginner', cursive;
  font-family: 'Edu VIC WA NT Beginner', cursive;
  font-family: 'Gloria Hallelujah', cursive;
  margin-left: 40px;
  font-size: 35px;
  margin-top: 60px;
}

.navLinkWrapper {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.navLinks {
  margin-left: 20px;
  margin-right: 20px;
  font-size: 25px;
  margin-top: 30px;
  text-decoration: none;
  color: black;
}

.search {
  margin-right: 35px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.searchInput {
  padding: 8px;
  padding-left: 20px;
  margin-top: 25px;
  margin-right: 16px;
  border-radius: 25px;
  border: 2px solid #80c000;
  font-size: 17px;
}

@media screen and (max-width: 900px) {
  .organicBomb {
    font-size: 15px;
  }
  .navLinks {
    font-size: 15px;
  }
  .searchInput {
    font-size: 7px;
  }
}
