.blogWrapper {
  width: 70%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  margin-left: 100px;
  margin-bottom: 140px;
}

.blogPhoto {
  width: 60%;
}

.blogIconInfo {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 55%;
  margin-top: -15px;
}

.blogIconInfoMini {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}

.blogPhotoHeader {
  font-size: 30px;
  font-weight: 300;
}

.blogPara {
  width: 60%;
  letter-spacing: 3px;
  line-height: 25px;
}

@media screen and (max-width: 1200px) {
  .blogPhoto {
    width: 40%;
  }
  .blogIconInfo {
    width: 55%;
  }
  .blogPhotoHeader {
    font-size: 15px;
  }
  .blogPara {
    width: 70%;
    letter-spacing: 2px;
    line-height: 20px;
    font-size: 12px;
  }
}
